<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css" type="text/css"/>
    <title>Space ticket stub</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="apps.hoyd.net/ticket" />
    <meta property="og:description" content="Space ticket stub" />
    <meta property="og:url" content="http://apps.hoyd.net/ticket" />
    <meta property="og:site_name" content="apps.hoyd.net/ticket" />
    <meta property="og:locale" content="en_US" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
</head>
<body>

<h2>Space ticket stub</h2>
<p>Choose a color and enter a name to create a space ticket stub you can download and share with your friends :-)</p>
<div class="container">
<!--
    <form method=post enctype=multipart/form-data>
-->
    <div class="row">   
        <form role="form" method="POST" action="">
            <label for="mycolor">Choose a color:</label>
                <select name="mycolor" id="mycolor">
                    <option value="orange">Orange</option>
                    <option value="pink">Pink</option>
                    <option value="blue">Blue</option>
                    <option value="yellow">Yellow</option>
                    <option value="red">Red</option>
                    <option value="brown">Brown</option>
                    <option value="grey" selected="selected">Grey</option>
                    <option value="green">Green</option>
                </select>        
<!--
            <label>
                <input type="radio" name="mycolor" id="option1" value="orange" />
                <span>Orange</span>
            </label>
            <label>
                <input type="radio" name="mycolor" id="option2" value="green"/>
                <span>Green</span>
            </label>
            <label>
                <input type="radio" name="mycolor" id="option3" value="blue" />
                <span>Blue</span>
            </label>
-->
            <input type="text" name="myname" id="myname" placeholder="Enter a name" />
            <input type="submit" value="Submit"></input>
        </form>
    </div>
<!--
    </form>
-->
</div>
{% if stub_filename %}
<div class="stub">
    <img src="{{ url_for('uploaded_file', filename=stub_filename) }}" alt='Custom green ticket stub'>
</div>
{% endif %}    

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45595881-7', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>

